<div class="container">
  <h1>Add New Stock</h1>

  <form [formGroup]="stockForm" (ngSubmit)="onSubmit()" class="stock-form">
    <div class="form-group">
      <label for="tickerSymbol">Ticker Symbol*</label>
      <input id="tickerSymbol" type="text" formControlName="tickerSymbol" />
      @if (stockForm.get('tickerSymbol')?.errors?.['required'] &&
      stockForm.get('tickerSymbol')?.touched) {
      <div class="error">Ticker Symbol is required</div>
      }
    </div>

    <div class="form-group">
      <label for="name">Name*</label>
      <input id="name" type="text" formControlName="name" />
      @if (stockForm.get('name')?.errors?.['required'] &&
      stockForm.get('name')?.touched) {
      <div class="error">Name is required</div>
      }
    </div>

    <div class="form-group">
      <label for="purchaseDate">Purchase Date*</label>
      <input id="purchaseDate" type="date" formControlName="purchaseDate" />
      @if (stockForm.get('purchaseDate')?.errors?.['required'] &&
      stockForm.get('purchaseDate')?.touched) {
      <div class="error">Purchase date is required</div>
      }
    </div>

    <div class="form-group">
      <label for="purchasePrice">Purchase Price*</label>
      <input
        id="purchasePrice"
        type="number"
        step="0.01"
        formControlName="purchasePrice"
      />
      @if (stockForm.get('purchasePrice')?.errors?.['required'] &&
      stockForm.get('purchasePrice')?.touched) {
      <div class="error">Purchase price is required</div>
      } @if (stockForm.get('purchasePrice')?.errors?.['min']) {
      <div class="error">Purchase price must be greater than 0</div>
      }
    </div>

    <div class="form-group">
      <label for="quantity">Quantity*</label>
      <input id="quantity" type="number" formControlName="quantity" />
      @if (stockForm.get('quantity')?.errors?.['required'] &&
      stockForm.get('quantity')?.touched) {
      <div class="error">Quantity is required</div>
      } @if (stockForm.get('quantity')?.errors?.['min']) {
      <div class="error">Quantity must be greater than 0</div>
      }
    </div>

    <div class="form-group">
      <label for="sector">Sector*</label>
      <input id="sector" type="text" formControlName="sector" />
      @if (stockForm.get('sector')?.errors?.['required'] &&
      stockForm.get('sector')?.touched) {
      <div class="error">Sector is required</div>
      }
    </div>

    <div class="form-actions">
      <button type="button" class="cancel-button" (click)="onCancel()">
        Cancel
      </button>
      <button type="submit" class="submit-button" [disabled]="!stockForm.valid">
        Save
      </button>
    </div>
  </form>
</div>
